@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 90% 94%;
    --foreground: 210 5% 20%;
    --card: 207 90% 99%;
    --card-foreground: 210 5% 20%;
    --popover: 207 90% 99%;
    --popover-foreground: 210 5% 20%;
    --primary: 207 88% 68%;
    --primary-foreground: 210 40% 10%;
    --secondary: 207 90% 88%;
    --secondary-foreground: 207 88% 30%;
    --muted: 207 90% 88%;
    --muted-foreground: 207 88% 50%;
    --accent: 123 39% 59%;
    --accent-foreground: 123 39% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 90% 85%;
    --input: 207 90% 85%;
    --ring: 207 88% 68%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 10% 12%;
    --foreground: 210 40% 98%;
    --card: 210 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 88% 68%;
    --primary-foreground: 210 40% 10%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 123 39% 59%;
    --accent-foreground: 123 39% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 207 88% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
